* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111827;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.score-container {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#game-board {
    width: 500px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    background: #1f2937;
    border: 4px solid #4ade80;
}

.cell {
    border: 1px solid rgba(255,255,255,0.05);
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    background: #4ade80;
    color: black;

    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#restart-btn:hover {
    transform: scale(1.05);
}

.snake {
    background: #22c55e;
    border-radius: 4px;
}